@media screen and (max-width: 767px) {

    .container2{
        padding: 0;
    }

    .our-team {
        max-width: 100%;
        padding: 96px 28px 96px 28px;
        background-color: #F4F4FD;
    }

    .our-team-list {
      max-width: 320px;
      display: flex;
      flex-direction: column;
      gap: 72px;
    }

    .our-team-list-item {
        box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
        border-radius: 0px 0px 4px 4px;
        background-color: #FFFFFF;
    }

    .our-team-section-title {
        font-size: 36px;
        font-weight: 700;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        color: #2E2F42;
        text-align: center;
        margin-bottom: 72px;
    }

    .our-team-list-container {
        text-align: center;
        padding-top: 32px;
        padding-bottom: 32px;
    }

    .our-team-list-title {
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2E2F42;
        margin-bottom: 8px;
    }

    .our-team-list-text {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        text-align: center;
    }

    .our-team-social-list {
        display: flex;
        gap: 24px;
        align-items: center;
        justify-content: center;
        margin-top: 8px;
    }

    .our-team-social-list-item {
        width: 40px;
        height: 40px;
    }
        
    .our-team-social-list-link {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-shrink: 0;
        padding: 8px;
        border-radius: 50%;
        background-color: #4D5AE5;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .our-team-social-list-icon {
        width: 12px;
        height: 12px;
        flex-shrink: 0;
        fill: #F4F4FD;
    }

}

@media screen and (min-width: 768px) {

    .container2 {
        padding: 0;
    }

    .our-team {
        max-width: 100%;
        padding: 96px 108px 96px 108px;
        background-color: #F4F4FD;
    }

    .our-team-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 64px 24px;
    }
 
    .our-team-list-item{
        width: calc((100% - 24px) / 2);
        box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
        border-radius: 0px 0px 4px 4px;
        background-color: #FFFFFF;
    }

    .our-team-section-title {
        font-size: 36px;
        font-weight: 700;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        color: #2E2F42;
        text-align: center;
        margin-bottom: 72px;
    }

    .our-team-list-container {
        text-align: center;
        padding-top: 32px;
        padding-bottom: 32px;
    }

    .our-team-list-title {
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2E2F42;
        margin-bottom: 8px;
    }

    .our-team-list-text {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        text-align: center;
    }

    .our-team-social-list {
        display: flex;
        gap: 24px;
        align-items: center;
        justify-content: center;
        margin-top: 8px;
    }

    .our-team-social-list-item {
        width: 40px;
        height: 40px;
    }
    
    .our-team-social-list-link {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-shrink: 0;
        padding: 8px;
        border-radius: 50%;
        background-color: #4D5AE5;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .our-team-social-list-icon {
        width: 12px;
        height: 12px;
        flex-shrink: 0;
        fill: #F4F4FD;
    }
}


@media screen and (min-width: 1158px) {

.our-team {
    padding: 120px 156px 120px 156px;
    background-color: #F4F4FD;
}

.our-team-list {
    display: flex;
    gap: 24px;
}

.our-team-list-item {
    width: calc((100% - 72px) / 4);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
    background-color: #FFFFFF;
}

.our-team-section-title {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2E2F42;
    text-align: center;
    margin-bottom: 72px;
}

.our-team-list-container {
    text-align: center;
    padding-top: 32px;
    padding-bottom: 32px;
}

.our-team-list-title {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
    margin-bottom: 8px;
}

.our-team-list-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
}

.our-team-social-list {
    display: flex;
    gap: 24px;
    align-items: center;
    justify-content: center;
    margin-top: 8px;
}

.our-team-social-list-item {
    width: 40px;
    height: 40px;
}

.our-team-social-list-link {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    padding: 8px;
    border-radius: 50%;
    background-color: #4D5AE5;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.our-team-social-list-link:hover,
.our-team-social-list-link:focus {
    background-color: #404BBF;
}

.our-team-social-list-icon {
    width: 12px;
    height: 12px;
    flex-shrink: 0;
    fill: #F4F4FD;
}

}